<!DOCTYPE HTML>

<html>
	<head>
		<title>Search - Repo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%- include('header'); %>

							<!-- Content -->
							<%if(text.length>0){%>
								<section>
									<header class="main">
										<a href='\search?id=<%=text[0]._id%>'>
											<h1><%=text[0].title%></h1>
											<h2>by <%=text[0].author%></h2>
										</a>
										<% if(text.length==1){%>
											<a class="button" download='<%=text[0].fileNameTxt%>' href=<%=text[0].txtLocation%>>Download</a>
										<%}%>
									</header>

									<span class="image main"><img src=<%=text[0].picLocation%> alt="picture for the article" /></span>
								<% if(text.length==1 &&typeof user != "undefined"){%>
									<%if(Array.isArray(text[0].keywords)){%>
										<%for(let j =0;j< text[0].keywords.length;j++){%>
												<p class="keez" style="display:none;"><%=text[0].keywords[j]%></p>
										<%}%>
									<%}else{%>
										<p class="keez" style="display:none;"><%=text[0].keywords%></p>
									<%}%>
									<!-- this script is used to keep track of the amount of time spent reading an article -->
									<script src="assets/js/userListener.js"></script>
									<p style="overflow:inherit;" class="getText"><%=text[0].txtLocation%></p>
								<%}else{%>
									<p class="getText"><%=text[0].txtLocation%></p>
								<%}%>
								<% if (text.length>1){ %>
									<%for(let i =1; i<text.length;i++){ %>
										<article>
											<a href='\search?id=<%=text[i]._id%>' class="image">
												<img src=<%=text[i].picLocation%> alt="" />
											</a>
											<h3><%=text[i].title%></h3>
											<h4><%=text[i].author%></h4>
											<p class="getText"><%=text[i].txtLocation%></p>
											<ul class="actions">
												<li><a href='\search?id=<%=text[i]._id%>' class="button">More</a></li>
											</ul>
										</article>
									<%}%>
								<%}%>
								</section>
								<%}else{%>
									<h2>No results for your query</h2>
								<%}%>
						</div>
					</div>

				<%- include('sidebar'); %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/index.js"></script>
	</body>
</html>
