<!DOCTYPE HTML>

<html>
	<head>
		<title>Search - Repo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%- include('header'); %>

							<!-- Content -->
								<section>
									<header class="main">
										<a href='\search?id=<%=text[0]._id%>'>
											<h1><%=text[0].title%></h1>
										</a>
										<% if(text.length==1){%>
											<a class="button" download='<%=text[0].fileNameTxt%>' href=<%=text[0].txtLocation%>>Download</a>
										<%}%>
									</header>

									<span class="image main"><img src=<%=text[0].picLocation%> alt="picture for the article" /></span>

									<p style="overflow:inherit;" class="getText"><%=text[0].txtLocation%></p>
								<% if (text.length>1){ %>
									<%for(let i =1; i<text.length;i++){ %>
										<article>
											<a href='\search?id=<%=text[i]._id%>' class="image">
												<img src=<%=text[i].picLocation%> alt="" />
											</a>
											<h3><%=text[i].title%></h3>
											<p class="getText"><%=text[i].txtLocation%></p>
											<ul class="actions">
												<li><a href='\search?id=<%=text[i]._id%>' class="button">More</a></li>
											</ul>
										</article>
									<%}%>
								<%}%>
								</section>

						</div>
					</div>

				<%- include('sidebar'); %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/index.js"></script>
	</body>
</html>
