<!DOCTYPE HTML>

<html>
	<head>
		<title>Repo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"> -->
		<link rel="stylesheet" href="assets/css/main.css" />
		<script data-ad-client="ca-pub-7921974018894239" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	</head>
	<body class="is-preload">

			<div id="wrapper">


					<div id="main">
						<div class="inner">

								<%- include('header'); %>

								<section id="banner">
									<div class="content">
										<header>
											<h1><%=articles[0].title%><br />
											by <%=articles[0].author%></h1>
										</header>
										<p class="getText"><%=articles[0].txtLocation%></p>
										<ul class="actions">
											<li><a href='\search?id=<%=articles[0]._id%>' class="button big">Learn More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src=<%=articles[0].picLocation%> alt="" />
									</span>
								</section>


								<section>
									<header class="major">
										<h2>Major Uploads</h2>
									</header>
									<div class="posts">
									<% for(let i=1;i<articles.length&&i<7;i++){%>
										<article>
											<a href='\search?id=<%=articles[i]._id%>' class="image">
												<img src=<%=articles[i].picLocation%> alt="" />
											</a>
											<h3><%=articles[i].title%></h3>
											<p class="getText"><%=articles[i].txtLocation%></p>
											<ul class="actions">
												<li><a href='\search?id=<%=articles[i]._id%>' class="button">More</a></li>
											</ul>
										</article>
									<%}%>
									</div>
								</section>

						</div>
					</div>


					<%- include('sidebar'); %>

			</div>


			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/index.js"></script>
	</body>
</html>
