<!DOCTYPE HTML>
<html>
	<head>
		<title>Repo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="images/favicon.png">
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
		<script data-ad-client="ca-pub-7921974018894239" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<%- include('header'); %>

							<!-- Content -->
								<section>
									<header class="main">
										<div class="loader"></div>
										<h1>Welcome <%=user.local.firstname%>!</h1>
									</header>
									<span>Delete interests</span>
									<select id="deleteInterests" name="">
										<option value=""></option>
										<% for(let i=0; i<user.interests.length;i++){ %>
											<option value="<%=user.interests[i]%>"><%=user.interests[i]%></option>
										<%}%>
									</select>
									<span>Add Interests</span>
									<select style="margin-bottom:5%;" id="addInterests" name="">
										<option value=""></option>
										<% if(!user.interests.includes("AI")){ %>
											<option value="AI">AI</option>
										<%}%>
										<% if(!user.interests.includes("Biology")){ %>
											<option value="Biology">Biology</option>
										<%}%>
										<% if(!user.interests.includes("Chemistry")){ %>
											<option value="Chemistry">Chemistry</option>
										<%}%>
										<% if(!user.interests.includes("Physics")){ %>
											<option value="Physics">Physics</option>
										<%}%>
										<% if(!user.interests.includes("Robotics")){ %>
											<option value="Robotics">Robotics</option>
										<%}%>
										<% if(!user.interests.includes("Astronomy")){ %>
											<option value="Astronomy">Astronomy</option>
										<%}%>
										<% if(!user.interests.includes("Nature")){ %>
											<option value="Nature">Nature</option>
										<%}%>
										<% if(!user.interests.includes("Archaeology")){ %>
											<option value="Archaeology">Archaeology</option>
										<%}%>
										<% if(!user.interests.includes("History")){ %>
											<option value="History">History</option>
										<%}%>
										<% if(!user.interests.includes("Health")){ %>
											<option value="Health">Health</option>
										<%}%>
									</select>

	               <% if(typeof remaining !=='undefined'&&remaining.length>0)	{ %>
									<form action="/review" method="post">
										<h3>To gain access to uploading, read this article and review it for scientific integrity</h3>
										<h4><%=remaining[0].title%></h4>
										<input type="text" name="location" style="visibility:hidden;" value=<%=remaining[0].txtLocation%>>
										<p style="overflow:scroll;" class="getText"><%=remaining[0].txtLocation%></p>
										<a class="button icon solid fa-download" download="peerReview" href=<%=remaining[0].txtLocation%>>Or download it</a>
										<textarea name="review" rows="8" cols="80" maxlength="1000" required placeholder="Write your review here (1000 character limit)"></textarea>
										<button type="submit" name="button">Submit</button>
									</form>
									<form enctype="multipart/form-data" id="uploading" style='display:none;'  action="/upload" method="post">
									<%}else{%>
											<h3>Make an entry here</h3>
											<form enctype="multipart/form-data" id="uploading" action="/upload" method="post">
										<%}%>
										<input type="text" name="description" placeholder="Write a title here"required>
										<span>
											<input type="checkbox" id="AI" value="AI" name="keys">
											<label for="AI">AI</label>
										</span>
										<span>
											<input type="checkbox" id="Biology" value="Biology" name="keys">
											<label for="Biology">Biology</label>
										</span>
										<span>
											<input type="checkbox" id="Chemistry" value="Chemistry" name="keys">
											<label for="Chemistry">Chemistry</label>
										</span>
										<span>
											<input type="checkbox" id="Physics" value="Physics" name="keys">
											<label for="Physics">Physics</label>
										</span>
										<span>
											<input type="checkbox" id="Robotics" value="Robotics" name="keys">
											<label for="Robotics">Robotics</label>
										</span>
										<span>
											<input type="checkbox" id="Astronomy" value="Astronomy" name="keys">
											<label for="Astronomy">Astronomy</label>
										</span>
										<span>
											<input type="checkbox" id="Nature" value="Nature" name="keys">
											<label for="Nature">Nature</label>
										</span>
										<span>
											<input type="checkbox" id="Archaeology" value="Archaeology" name="keys">
											<label for="Archaeology">Archaeology</label>
										</span>
										<span>
											<input type="checkbox" id="History" value="History" name="keys">
											<label for="History">History</label>
										</span>
										<span>
											<input type="checkbox" id="Health" value="Health" name="keys">
											<label for="Health">Health</label>
										</span>
										<section><input type="file" name="article" required accept="text/plain" >
										<input id="imageToUpload" type="file" required accept="image/jpeg,image/x-png,image/gif" name="article" ></section>
										<input type="text" name="author" placeholder="Author" required>
										<input class="mL" id="ml1" type="checkbox" name="mls" disabled>
										<label id="lb1" for="ml1">MLKey1</label>
										<input class="mL" id="ml2" type="checkbox" name="mls" disabled>
										<label id="lb2" for="ml2">MLKey2</label>
										<input class="mL" id="ml3" type="checkbox" name="mls" disabled>
										<label id="lb3" for="ml3">MLKey3</label>
										<button type="submit" name="button">Submit</button>
									</form>
									<img width="50%" id="uploadedImage" src="" alt="image to check">
									<p>The MobileNet model labeled this as <span id="result">...</span> with a confidence of <span id="probability">...</span>.</p>
									<h2>Your current articles pending review</h2>
								<% if(typeof list != 'undefined') {%>
								 <%for(let i =0;i<list.length;i++){ %>
										<hr class="major"/>
										<h2><%=list[i].title%></h2>
										<p class="getText"><%=list[i].txtLocation%></p>
									<%}%>
								<%}%>
								</section>
								<form action="random" method="post">
									<button type="submit" name="button">Get random article emailed</button>
								</form>
						</div>
					</div>

				<%- include('sidebar'); %>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/index.js"></script>
			<script src="assets/js/profileMain.js" charset="utf-8"></script>
	</body>
</html>
